/* Icons from directory "" */
.icon-360,
.icon-360\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 0;
}
.icon-360-dims
{
    width: 53px;height: 21px;
}
.icon-air,
.icon-air\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -21px;
}
.icon-air-dims
{
    width: 25px;height: 28px;
}
.icon-bell,
.icon-bell\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -49px;
}
.icon-bell-dims
{
    width: 54px;height: 52px;
}
.icon-call,
.icon-call\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -101px;
}
.icon-call-dims
{
    width: 39px;height: 41px;
}
.icon-cardiogram,
.icon-cardiogram\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -142px;
}
.icon-cardiogram-dims
{
    width: 51px;height: 59px;
}
.icon-closet,
.icon-closet\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -201px;
}
.icon-closet-dims
{
    width: 45px;height: 61px;
}
.icon-conditioner,
.icon-conditioner\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -262px;
}
.icon-conditioner-dims
{
    width: 61px;height: 45px;
}
.icon-doctor,
.icon-doctor\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -307px;
}
.icon-doctor-dims
{
    width: 55px;height: 61px;
}
.icon-door_one,
.icon-door_one\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -368px;
}
.icon-door_one-dims
{
    width: 29px;height: 29px;
}
.icon-door_two,
.icon-door_two\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -397px;
}
.icon-door_two-dims
{
    width: 53px;height: 29px;
}
.icon-download,
.icon-download\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -426px;
}
.icon-download-dims
{
    width: 32px;height: 32px;
}
.icon-dressing,
.icon-dressing\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -458px;
}
.icon-dressing-dims
{
    width: 61px;height: 61px;
}
.icon-hair-dryer,
.icon-hair-dryer\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -519px;
}
.icon-hair-dryer-dims
{
    width: 61px;height: 61px;
}
.icon-icon_bell,
.icon-icon_bell\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -580px;
}
.icon-icon_bell-dims
{
    width: 20px;height: 17px;
}
.icon-icon_phone,
.icon-icon_phone\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -597px;
}
.icon-icon_phone-dims
{
    width: 33px;height: 27px;
}
.icon-insta,
.icon-insta\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -624px;
}
.icon-insta-dims

{
    width: 40px;height: 36px;
}
.icon-kettle,
.icon-kettle\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -660px;
}
.icon-kettle-dims
{
    width: 51px;height: 61px;
}
.icon-marker,
.icon-marker\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -721px;
}
.icon-marker-dims
{
    width: 13px;height: 19px;
}
.icon-question,
.icon-question\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -740px;
}
.icon-question-dims
{
    width: 40px;height: 36px;
}
.icon-quote,
.icon-quote\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -776px;
}
.icon-quote-dims
{
    width: 35px;height: 27px;
}
.icon-refrigerator,
.icon-refrigerator\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -803px;
}
.icon-refrigerator-dims
{
    width: 41px;height: 61px;
}
.icon-room_shower,
.icon-room_shower\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -864px;
}
.icon-room_shower-dims
{
    width: 35px;height: 61px;
}
.icon-room_wifi,
.icon-room_wifi\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -925px;
}
.icon-room_wifi-dims
{
    width: 62px;height: 45px;
}
.icon-shower,
.icon-shower\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -970px;
}
.icon-shower-dims
{
    width: 28px;height: 28px;
}
.icon-small-calendar,
.icon-small-calendar\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -998px;
}
.icon-small-calendar-dims
{
    width: 24px;height: 24px;
}
.icon-spa,
.icon-spa\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1022px;
}
.icon-spa-dims
{
    width: 61px;height: 57px;
}
.icon-suite,
.icon-suite\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1079px;
}
.icon-suite-dims
{
    width: 61px;height: 61px;
}
.icon-swimming-pool,
.icon-swimming-pool\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1140px;
}
.icon-swimming-pool-dims
{
    width: 69px;height: 59px;
}
.icon-tea,
.icon-tea\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1199px;
}
.icon-tea-dims
{
    width: 66px;height: 60px;
}
.icon-tree,
.icon-tree\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1259px;
}
.icon-tree-dims
{
    width: 62px;height: 58px;
}
.icon-tv,
.icon-tv\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1317px;
}
.icon-tv-dims
{
    width: 61px;height: 55px;
}
.icon-wifi,
.icon-wifi\:regular
{
    background-image: url('../img/icons.svg');background-repeat: no-repeat;;
		background-position: 0 -1372px;
}
.icon-wifi-dims
{
    width: 33px;height: 27px;
}
