.additional-nav {
  padding-top: 30px;

  @media (min-width: 1200px) {
    padding-top: 60px;
  }
}

.additional-nav--vertical {
  padding: 96px 5px 0 5px;

  .additional-nav__list {
    flex-direction: column;
    align-items: center;
  }

  .additional-nav__item {
    margin: 0;
    margin-bottom: 38px;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.additional-nav__list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-nav__item {
  display: block;
  width: 71px;
  margin-bottom: 30px;
  margin-right: 18px;
  font-size: 10px;
  line-height: 1.2em;

  @media (min-width: 1200px) {
    margin-right: 35px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.additional-nav__link {
  display: block;
  color: #fff;
  text-align: center;
  transition: all 0.2s;

  &:hover {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 20px #fff;
  }

  &:before {
    content: '';
    display: block;
    margin: auto;
    margin-bottom: 10px;
    background-image: url("../img/icons.svg");
    background-repeat: no-repeat;
  }

}

.additional-nav__link--virt {

  &:hover {

    &:before {
      transition: all 0.6s;
      transform: rotateY(360deg);
    }
  }

  &:before {
    width: 53px;
    height: 21px;
    background-position: 0 0;
  }
}

.additional-nav__link--call {

  &:hover {

    &:before {
      animation-name: tada;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  &:before {
    width: 39px;
    height: 41px;
    background-position: 0 -101px;
  }
}

@keyframes inst {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.additional-nav__link--insta {

  &:hover {

    &:before {
      animation-name: inst;
      animation-duration: 0.6s;
      animation-fill-mode: both;
    }
  }

  &:before {
    width: 33px;
    height: 33px;
    background-position: 0 -624px;
  }
}

.additional-nav__link--question {

  &:hover {

    &:before {
      animation-name: wobble;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  &:before {
    width: 40px;
    height: 36px;
    background-position: 0 -740px;
  }
}

.additional-nav__link--quote {

  &:hover {

    &:before {
      animation-name: jello;
      animation-duration: 1s;
      animation-fill-mode: both;
    }
  }

  &:before {
    width: 35px;
    height: 27px;
    background-position: 0 -776px;
  }
}

.additional-nav--hidden {
  display: none !important;
}
