.doctor-cards {

}

.doctor-cards__pic {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.doctor-cards__name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}

.doctor-cards__spec {
  font-size: 12px;
}
