.doctor-slider {
  position: relative;
  max-height: 580px;
  overflow: hidden;

  .arr-prev {
    display: none;

    @media (min-width: 576px) {
      display: block;
      // left: -40px;
    }
  }
  .arr-next {
    display: none;

    @media (min-width: 576px) {
      display: block;
      // right: -40px;
    }
  }
}

.doctor-slider__inner {
  padding-bottom: 30px;

  .slick-slide {
    margin-left: 5px;
    margin-right: 5px;
  }

  .slick-dots {
    bottom: 0px;

    li {

      button {
        background: #B8B8B8;
      }
    }
    .slick-active {

      button {
        background: #d2bb24;
      }
    }
  }


}
