.feedback {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: 992px) {
    padding-top: 75px;
    padding-bottom: 40px;
  }

  .form__input-inner {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

.feedback__text {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 44px;
  }

  a {
    display: block;
    margin-top: 12px;
    color: #d2bb24;
    font-size: 24px;
    font-family: 'Yeseva One', Arial, sans-serif;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }

}
