.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-nav__item {
  margin-right: 15px;
  margin-bottom: 5px;
  color: #e5cfcf;
  font-size: 12px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
