.form {

  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem 15px;
  }
}

.form-group--additional {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;

  @media (min-width: 768px) {
    margin-top: 20px;
    text-align: center;
  }

  a {
    color: #000;
    font-weight: 700;
  }
}

.form--border {
  padding: 15px;
  border: 1px solid #d2bb24;

  @media (min-width: 1200px) {
    padding: 50px;
  }
}

.form__title {
  text-align: center;
}

.form__title--small {
  font-size: 16px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 36px;
  }
}

.form-control {
  height: auto;
  padding: 0.575rem 0.75rem;
  color: #000;
  border: 1px solid #000;
  border-radius: 0;
  font-size: 15px;

  &:focus {
    color: #000;
    background-color: #fff;
    border-color: #d2bb24;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(#d2bb24, 0.25);
  }
}

.form-check-input {
  margin-top: 0.2rem;
}

.form__input-inner {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }


}
