.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1200;
  min-height: 60px;
  background: #2a1515;

  @media (min-width: 992px) {
    position: relative;
    min-height: auto;
  }

  @media (min-width: 1200px) {
    z-index: 30;
  }

  .container {

    @media (min-width: 1200px) {
      max-width: 1200px;
    }
    @media (min-width: 1200px) and (max-width: 1350px) {
      padding-left: 90px;
    }
  }

  .header__logo {

    img + img {
      display: none;
    }
  }
  .order-btn {
    margin: 0;
    margin-left: auto;
  }
}

.header--index {
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1202;
  background: #2a1515;

  @media (min-width: 992px) {
    position: absolute;
    background: none;
    z-index: 1202;
  }
  @media (min-width: 1200px) {
    z-index: 30;
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1200;
  background: #2a1515;
  animation-name: fadeInDown;
  animation-duration: 0.4s;
  animation-fill-mode: both;

  .header__top {
    min-height: 60px;
    padding-top: 0;
    align-items: center;
  }

  .header__title {
    padding-top: 0;
  }

  .header__logo {
    top: 12px;
    width: 134px;

    img {
      display: none;
    }
    img + img {
      display: block;
    }
  }

  .header__description {
    display: none;

    @media (min-width: 1200px) {
      // display: block;
    }
  }

  .header__contacts {

    @media (min-width: 1200px) {
      padding-top: 0;
      flex-direction: row;
      align-items: center;
    }
  }
  .header__phone {
    margin-bottom: 0;
  }
  .header__link {
    margin-left: 40px;
  }
}

.header--index.header--fixed {
  z-index: 1202;

  // .header__logo {
  //
  //   img {
  //     display: none;
  //   }
  //   img + img {
  //     display: block;
  //   }
  // }
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 22px;
  transform: translateX(-50%);
  width: 174px;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  img {
    width: 100%;
  }
}

.header__title {
  max-width: 320px;
  padding-top: 6px;
}

.header__description {
  margin-bottom: 16px;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.2em;
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.header__address {
  position: relative;
  padding-left: 18px;
  font-size: 14px;
  line-height: 1.2em;
  color: #fff;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 13px;
    height: 19px;
    background-image: url('../img/icons.svg');
    background-repeat: no-repeat;
    background-position: 0 -721px;
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 0.2s;
  margin-left: 20px;

  @media (min-width: 576px) {
    margin-left: 36px;
  }

  @media (min-width: 1200px) {
    padding-top: 10px;
    align-items: flex-end;
  }
}

.header__phone {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.2em;
  color: #fff;
  width: 0;
  text-indent: -99999px;

  @media (min-width: 576px) {
    width: auto;
    text-indent: inherit;
  }

  @media (min-width: 992px)  {
    margin-bottom: 11px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url('../img/icons.svg');
    background-repeat: no-repeat;
    background-position: 0 -600px;
  }

  &:hover {
    color: #d2bb24;
    text-decoration: none;
  }
}

.header__link {
  font-size: 14px;
  line-height: 1.2em;
  color: #fff;
  text-decoration: underline;
  transition: all 0.2s;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  &:hover {
    color: #d2bb24;
    text-decoration: none;
  }
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 60px;
  min-height: auto;
  max-width: 100%;

  @media (min-width: 992px) {
    max-width: 960px;
    align-items: flex-start;
    min-height: 150px;
    padding-top: 22px;
  }

  @media (min-width: 1100px) {
    padding-left: 15px;
  }
}
