.page-nav {
  margin-bottom: 28px;

  @media (min-width: 992px) {
    padding-top: 28px;
  }

  .container {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }
}

.page-nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  padding-left: 15px;
  color: #000;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    color: #d2bb24;
    text-decoration: none;

    &:before {
      transform: translate(-10px, -50%);
    }
  }

  &:before {
    content: '';
    display: block;
    width: 7px;
    height: 11px;
    background: url("../img/arr-left.png") no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.5s;
  }
}
