.text-content {
  text-align: left;
	color: #000;
  padding-top: 20px;
}
.text-content p {
	font-size: 16px;
	line-height: 1.3em;
	color: #000;
	letter-spacing: normal;
}

.text-content p img {
	float: left;
}

.text-content h2 {
	font-size: 24px;
	line-height: 1.1em;
	font-weight: bold;
}

.text-content h3 {
	font-size: 20px;
	line-height: 1.1em;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
  padding: 0;
}

.text-gallery {
	font-size: 0;
}

.text-gallery__item {
	display: inline-block;
	vertical-align: top;
	width: 33.333333%;
	margin-bottom: 10px;
	padding: 10px 7px;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wcu-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wcu-list > div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.wcu-list .wcu-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.form-group {
  margin-bottom: 20px;
}
.slider__img {
  margin: 0;
}
.slider__img img {
  width: 100%;
}
.height-align .owl-stage {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.height-align .owl-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.height-align .owl-item > div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.height-align .owl-item .item-w {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.height-align .item-w a {
  display: block;
  position: relative;
  padding-bottom: 52px;
}
.height-align .item-w a .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.blog-date li span {
  color: #555;
}

@media (max-width: 768px) {
	.text-gallery__item {
		width: 50%;
	}
}
@media (max-width: 480px) {
	.text-gallery__item {
		width: 90%;
	}
}

.text-gallery__item img {
	width: 100%;
}

.text-content ul li {
	position: relative;
	list-style: none;
	font-size: 16px;
	line-height: 1.3em;
	padding-left: 10px;
}

.text-content ul li:before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: #e85c11;
	border-radius: 100%;
	position: absolute;
	font-family: FontAwesome;
	top: 7px;
	left: -3px;
	line-height: 1.2em;
	text-align: center;
}

.text-content ol li {
	font-size: 16px;
	line-height: 1.3em;
}

.our-principles-inner {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}
.our-principles-inner__info {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.our-principles-inner__info .btn {
	margin-top: auto;
	margin-bottom: 0;
}

.promo-items {
	margin-bottom: 35px;
}

.promo-items:after {
	content: "";
	display: table;
	clear: both;
}

.promo-item {
	margin-bottom: 35px;
}

.promo-item__pic {
	margin-bottom: 10px;
	text-align: center;
}

.promo-item__pic img {
	width: 100%;
	vertical-align: middle;
	margin-bottom: 0;
}

.promo-item__title {
	text-align: center;
	margin-bottom: 20px;
	color: #000;
}
.note {
  padding: 5px 0 0 0;
}
.side-promo {
	margin-top: 30px;
}
.side-promo__img {
	margin: 0;
}

.side-promo__img img {
	width: 100%;
}
.side-promo__text {
	padding: 15px;
	color: #000;
	font-size: 18px;
	line-height: 1.2em;
	text-align: center;
}
.side-promo__text p {
  font-size: 18px;
	line-height: 1.2em;
  color: #000;
}

p {
  font-size: 16px;
}

.warn {
  max-width: 480px;
  padding: 38px 34px;
  background-color: #8e1c1c;
  color: #fff;
  background-image: url("../img/warn.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.warn__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.warn__text {
  color: #fff;
  font-size: 14px;
}
