.price-table-inner {
  border: 1px solid #dadabf;

  @media (min-width: 576px) {
    padding: 30px;
  }
}

table.price-table {
  background-color: #fff;
  width: 100%;
  min-width: 760px;
  text-align: left;
  border-collapse: collapse;

  td {
    max-width: 364px;
    padding: 16px 8px;
  }
  th {
    padding: 16px 8px;
  }
  tbody {

    tr {
      border-top: 1px solid #dadabf;
    }

    td {
      font-size: 14px;
      color: #000000;
    }
  }

  thead {

    th {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
    }
  }
}
