.program-features {
  padding: 15px;

  @media (min-width: 992px) {
    padding: 38px;
  }
}

.program-features--sand {
  background: #f8f8f0;
}

.program-features__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.program-features__text {
  margin-bottom: 16px;
  font-size: 14px;
}

.program-features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program-features__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 14px;
  font-size: 14px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: $overlay-width;
    height: $overlay-width * cos($overlay-angle);
    background: #d2bb24;
    transform: rotate(45deg + .5 * $overlay-angle) skewX($overlay-angle);
  }
}
