.section-info {
  position: relative;
  margin-bottom: 25px;
  text-align: center;

  p {
    max-width: 706px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4em;
  }
  b {
    display: block;
    text-align: center;
  }
}

.section-info__link {
  font-size: 14px;
  text-decoration: underline;
  color: #a50e2d;
  text-align: center;

  @media (min-width: 1200px) {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 154px;
    text-align: left;
  }

  &:hover {
    color: #a50e2d;
    text-decoration: none;
  }
}
