.tab-list {
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
  border: none;
  overflow: hidden;

  .tab-list__item {
    padding: 0.5rem 0.4rem;
    padding-bottom: 14px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    border: none;
    background: none;
    white-space: nowrap;

    &:hover {
      color: #a50e2d;
    }

    @media (min-width: 1350px) {
      padding: 0.5rem 0.6rem;
      padding-bottom: 14px;
    }
  }

  .tab-list__item.active {
    position: relative;
    color: #a50e2d;
    font-weight: 700;
    border: none;
    background: none;
    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      bottom: 1px;
      left: 0.4rem;
      right: 0.4rem;
      height: 4px;
      background: #a50e2d;

      @media (min-width: 1350px) {
        left: 0.6rem;
        right: 0.6rem;
      }
    }
  }

}

.tab-list--scrolled {

  .mCustomScrollBox {
    width: 100%;
  }

  .mCSB_container {
    display: flex !important;
    justify-content: space-between;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      left: 0.4rem;
      right: 0.4rem;
      background: #dee2e6;

      @media (min-width: 1350px) {
        left: 0.6rem;
        right: 0.6rem;
      }
    }
  }
}

.tab-list-inner {
  margin-bottom: 30px;
}
