.treatment-info {

}

.treatment-info__title {
  margin-bottom: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 700;
}

.treatment-info__container {
  // display: flex;
}
