<header class="header">
  <div class="container  header__top">
    <div class="hamburger  hamburger--mobile">
      <button class="hamburger-button" type="button">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>
    </div>
    <div class="header__logo">
      <a href="#">
        <img src="img/logo.svg" alt="">
        <img src="img/logo-small.svg" alt="">
      </a>
    </div>
    <div class="header__title">
      <div class="header__description">Официальный сайт санатория Истокъ</div>
      <div class="header__address  header__address--marker">г. Ессентуки, ул. Анджиевского, 23</div>
    </div>
    <a class="order-btn" href="#">Заказ путевок</a>
    <div class="header__contacts">
      <a class="header__phone" href="tel:88001005108">8 (800) 100-51-08</a>
      <a class="header__link" href="#">Контакты</a>
    </div>
  </div>
  <nav class="header-nav  header-nav--page">
    <div class="container">
      <ul class="header-nav__list">
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">Лечение</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Диагностическая база</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Профиль лечения</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Наши врачи</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Противопоказания</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">Программы лечения</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Гастроэнтерология (Базовая)</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Женское здоровье</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Мужское здоровье</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Душевное равновесие</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Свободное движение</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Сахарный диабет</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Оздоровительная Путевка</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">Проживание</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Сюит</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Стандарт</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Джуниор Сюит</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Люкс</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Цены</a>
        </li>
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">SPA-центр</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Хамам</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Йога-центр</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">SPA-процедуры</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Центр красоты</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Ресторан<span>в Ессентуках</span></a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Развлечения</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Детям</a>
        </li>
      </ul>
      <a class="stock-btn" href="#">Акции</a>
    </div>
  </nav>



  <nav class="header-nav">
    <div class="container">
      <ul class="header-nav__list">
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">Лечение</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Диагностическая база</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Профиль лечения</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Наши врачи</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Противопоказания</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">Программы лечения</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Гастроэнтерология (Базовая)</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Женское здоровье</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Мужское здоровье</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Душевное равновесие</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Свободное движение</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Сахарный диабет</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Оздоровительная Путевка</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">Проживание</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Сюит</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Стандарт</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Джуниор Сюит</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Люкс</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link" href="#">Цены</a>
        </li>
        <li class="header-nav__item  header-nav__item--drop">
          <span></span>
          <a class="header-nav__link" href="#">SPA-центр</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Хамам</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Йога-центр</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">SPA-процедуры</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Центр красоты</a></li>
            </ul>
          </div>
        </li>
        <li class="header-nav__group">
          <div class="header-nav__item">
            <a class="header-nav__link" href="#">Развлечения</a>
          </div>
          <div class="header-nav__item">
            <a class="header-nav__link" href="#">Детям</a>
          </div>
          <div class="header-nav__item">
            <a class="header-nav__link" href="#">Ресторан<span>в Ессентуках</span></a>
          </div>
        </li>
        <li class="header-nav__item  header-nav__item--about">
          <a class="header-nav__link" href="#">О санатории</a>
          <div class="header-nav__sub-list-inner">
            <ul class="header-nav__sub-list">
              <li class="header-nav__item"><a class="header-nav__link" href="#">Наши новости</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Контролирующие органы</a></li>
              <li class="header-nav__item"><a class="header-nav__link" href="#">Правила санатория</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <a class="stock-btn" href="#">Акции</a>
      <nav class="additional-nav">
        <ul class="additional-nav__list">
          <li class="additional-nav__item"><a class="additional-nav__link  additional-nav__link--virt" href="#">Виртуальный тур</a></li>
          <li class="additional-nav__item"><a class="additional-nav__link  additional-nav__link--call" href="#">Заказать звонок</a></li>
          <li class="additional-nav__item"><a class="additional-nav__link  additional-nav__link--insta" href="#">Наш Instagram</a></li>
          <li class="additional-nav__item"><a class="additional-nav__link  additional-nav__link--question" href="#">Задать вопрос</a></li>
          <li class="additional-nav__item"><a class="additional-nav__link  additional-nav__link--quote" href="#">Отзывы гостей</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
<div class="header-nav-layer"></div>
